.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    line-height: 22px;
    text-transform: uppercase;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;

    border-bottom: 1px solid #333;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}